<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>fifa</title>
<style>
body {
    
    background-color: #cccccc;
    background-image: url("/static/images/sd.png");
  }
</style>
</head>

<body>
    <h1>Current Player</h1>
    {% for table in currentPlayers %}   {{currentTitles[loop.index]}} {{ table|safe }} {% endfor %}
    <h1>Similar players</h1>
    {% for table in simPlayers%} {{ table|safe }} {% endfor %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>